.idea
target/
target/maven-status
target/classes
creativei_lms.iml

client/npm-debug.log*
client/.sourcemaps/
client/.sass-cache/
client/.tmp/
client/.versions/
client/coverage/
client/dist/
client/node_modules/
client/tmp/
client/temp/
client/hooks/
client/platforms/
client/plugins/
client/plugins/android.json
client/plugins/ios.json
client/www/
client/$RECYCLE.BIN/