.idea
target/
target/maven-status
target/classes
creativei_lms.iml

client-src/npm-debug.log*
client-src/.sourcemaps/
client-src/.sass-cache/
client-src/.tmp/
client-src/.versions/
client-src/coverage/
client-src/dist/
client-src/node_modules/
client-src/tmp/
client-src/temp/
client-src/hooks/
client-src/platforms/
client-src/plugins/
client-src/plugins/android.json
client-src/plugins/ios.json
client-src/www/
client-src/$RECYCLE.BIN/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
