<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inquiry List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-toolbar class="filter-toolbar" color="light">
    <ion-row>
      <ion-col col-1 class="vertical-center-contents">
        <ion-title>Filter</ion-title>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col col-1>
            <p>From:</p>
          </ion-col>
          <ion-col col-2 class="vertical-center-contents">
            <input #fromDate type="date">
          </ion-col>
          <ion-col col-1>
            <p>To:</p>
          </ion-col>
          <ion-col col-2 class="vertical-center-contents">
            <input #toDate type="date">
          </ion-col>
          <ion-col col-1 class="vertical-center-contents">
              <button (click)="filterInqByDate(fromDate.value,toDate.value)" ion-button clear small>Apply</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-card *ngFor = "let inq of inquiries; let i = index;">
    <ion-grid>
      <ion-row>
        <ion-col col-1 class="vertical-center-contents">
          <p>{{i+1}}.</p>
        </ion-col>
        <ion-col col-1 class="vertical-center-contents">
          <div *ngIf = "inq.caseIndex">
            <div *ngIf = "inq.caseIndex.index == 3">
              <ion-icon name="flash" class="case-index-3"></ion-icon>
            </div>
            <div *ngIf = "inq.caseIndex.index == 4">
              <ion-icon name="flash" class="case-index-4"></ion-icon>
              <ion-icon name="flash" class="case-index-4"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <p><b>{{inq.name}}</b>&nbsp;&nbsp;&nbsp;<ion-icon color="primary" name='md-create' (click)="editInq(inq.id)"></ion-icon></p>
          <p>{{inq.mobile}} | {{inq.email}}</p>
        </ion-col>
        <ion-col col-1 class="vertical-center-contents">
          <p>{{inq.inquiryDate | date: "dd/MM/yyyy"}}</p>
        </ion-col>
        <ion-col col-2 class="vertical-center-contents">
          <p>{{inq.areaOfInterest}}</p>
        </ion-col>
        <ion-col col-2 class="vertical-center-contents">
          <p *ngIf = "inq.followUp">{{inq.followUp.followUpStatus}}</p>
        </ion-col>
        <ion-col col-1 class="vertical-center-contents">
            <button ion-button icon-end clear small>
              Follow Up
              <ion-icon name="add"></ion-icon>
            </button>
        </ion-col>
        <ion-col (click)="toggleSeeMore(i)" col-1 class="vertical-center-contents">
          <ion-icon *ngIf = "inq.seeMore" name="ios-arrow-down" class="see-more"></ion-icon>
          <ion-icon *ngIf = "!inq.seeMore" name="ios-arrow-forward" class="see-more"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="inq.seeMore">
        <ion-col col-1></ion-col>
        <ion-col col-1></ion-col>
        <ion-col>
          <p>Guardian: {{inq.guardian.name}}, {{inq.guardian.relation}}</p>
          <p>{{inq.guardian.phoneNumber}}</p>
        </ion-col>
        <ion-col col-2 class="vertical-center-contents">
          <p *ngIf = "inq.followUp">{{inq.followUp.subStatus}}</p>
        </ion-col>
        <ion-col col-2 class="vertical-center-contents">
          <p *ngIf = "inq.followUp">{{inq.followUp.remark}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>